/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/04/2017, 17:50:36
    Author     : Windows
*/

ul{
    margin: 0 auto;
    padding: 0;
}


/* The wider the #list_wrapper is, the more columns will fit in it */
#list_wrapper{
    width: 200px
}

/* The wider this li is, the fewer columns there will be */
ul.multiple_columns li{
    text-align: left;
    float: left;
    list-style: none;
    height: 30px;
    width: 50px;
}