<div ng-controller="putServiceCtrl" class="cadastro">
    <form novalidate="novalidate" class="form-horizontal">
        <table>

            <tr>
                <td>Instrumento:</td>
                <td><input style="margin-bottom: 1%; width: 250%" type="text" ng-model="dsInstrumento"></td>

            </tr>

            <tr>
                <td>Familia:</td>
                <td>
                    <select style="margin-bottom: 1%; width: 100%" ng-model="dsFamilia">
                        <option value="indefinido">Indefinida
                        <option value="Cordas">Cordas
                        <option value="Metais">Metais
                        <option value="Madeiras">Madeiras
                        <option value="Palhetas">Palhetas
                    </select></td>
            </tr>

            <tr><td><div style="height: 8px"></div></td></tr>
            <tr>
               <td colspan="2"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <button style="background: black" ng-click="create(dsInstrumento, dsFamilia)" class="btn btn-small  button btn-primary">Salvar</button >
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>