<div ng-controller="putServiceCtrl" class="centerUpload">
    <form novalidate="novalidate" class="form-horizontal">
        <table >

            <tr>
                <td>Instrumento:</td>
                <td><input type="text" ng-model="dsInstrumento"></td>

            </tr>

            <tr>
                <td>Familia:</td>
                <td>
                    <select style="width: 210px">
                        <option value="indefinido">Indefinida
                        <option value="Cordas">Cordas
                        <option value="Metais">Metais
                        <option value="Madeiras">Madeiras
                        <option value="Palhetas">Palhetas
                    </select></td>
            </tr>
            <tr>


                <td colspan="2"><div style="align-content: center">
                        <a ng-click="putdata(nmUsuario, dsEmail, ieAdministrador)" class="btn btn-small  btn-primary">Novo</a>
                        <a ng-click="cancel()" class="btn btn-small  btn-primary">Salvar</a>
                        <a ng-click="cancel()" class="btn btn-small  btn-primary">Desfazer</a>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>